/*Global Settings*/
body{
	font-family: Helvetica, sans-serif;
}



.wrap{
	margin-top:50px;
}

#clear-atag{
	text-decoration: none;
}

.socialBar{
	position:fixed;
	top:0px;
	left:0px;
	z-index: 100;
	margin:0px;
	background-color:rgba(0,0,0,1);
	width: 100%
}
.dribbble, .linkedin {
	width:42px;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:10px;
}

.resumeBtn{
	margin-left: 10px;
	font-weight:600;
}

/*Global Settings END*/


/*Box 1*/
#box1{
	background-image: url('../images/jp-jump.jpg');
	background-repeat: no-repeat;
	background-color:black;
	background-position: center center;
	background-size:cover;
	height:600px;
	padding-left: 0px;
  	padding-right:0px;
}

#overlay1{  
	background-image: url('../images/black.jpg');
	height:600px;
	padding:0px;
  	opacity:0;
  	-webkit-transition: opacity .25s ease;
  	-moz-transition: opacity .25s ease;
  	padding-top:200px;
  	text-align: center;
}

#box1:hover #overlay1{
    opacity:.7;
    cursor: pointer;
}

#caption1{  
    font-weight:900;
    color:rgba(255,255,255,1);
    font-size:96px;
}

#box1:hover #caption1{
    opacity:1;
}

#subcaption1{
	font-size:35pt;
	color:rgba(255,255,255,1);
	font-weight:700;
}

#box1:hover #subcaption1{
    opacity:1;
}

/*Box 1 END*/


/*Box 2*/
#box2{
	background-image: url('../images/100days-butts.jpg');
	background-repeat: no-repeat;
	background-color:black;
	background-position: center center;
	background-size:cover;
	height:300px;
	padding-left: 0px;
  	padding-right:0px;
}

#overlay2{  
	background-image: url('../images/black.jpg');
	height:300px;
	padding:0px;
  	opacity:0;
  	-webkit-transition: opacity .25s ease;
  	-moz-transition: opacity .25s ease;
  	padding-top:75px;
  	text-align: center;
  	overflow: hidden;
}

#box2:hover #overlay2{
    opacity:.7;
    cursor: pointer;
}

#caption2{  
    font-weight:900;
    color:rgba(255,255,255,1);
    font-size:50px;
}

#box2:hover #caption2{
    opacity:1;
}
/*Box 2 END*/

/*Box 3*/
#box3{
	background-image: url('../images/ksthumb.jpg');
	background-repeat: no-repeat;
	background-color:black;
	background-position: center center;
	background-size:cover;
	height:300px;
	padding-left: 0px;
  	padding-right:0px;
}

#overlay3{  
	background-image: url('../images/black.jpg');
	height:300px;
	padding:0px;
  	opacity:0;
  	-webkit-transition: opacity .25s ease;
  	-moz-transition: opacity .25s ease;
  	padding-top:75px;
  	text-align: center;
  	overflow: hidden;
}

#box3:hover #overlay3{
    opacity:.7;
    cursor: pointer;
}

#caption3{  
    font-weight:900;
    color:rgba(255,255,255,1);
    font-size:50px;
}

#box3:hover #caption2{
    opacity:1;
}
/*Box 3 END*/

/*Box 4*/
#box4{
	background-image: url('../images/nycda-portfolio.jpg');
	background-repeat: no-repeat;
	background-color:black;
	background-size:cover;
	background-position: center center;
	height:300px;
	padding-left: 0px;
  	padding-right:0px;
}

#overlay4{  
	background-image: url('../images/black.jpg');
	height:300px;
	padding:0px;
  	opacity:0;
  	-webkit-transition: opacity .25s ease;
  	-moz-transition: opacity .25s ease;
  	padding-top:75px;
  	text-align: center;
  	overflow: hidden;
}

#box4:hover #overlay4{
    opacity:.7;
    cursor: pointer;
}

#caption4{  
    font-weight:900;
    color:rgba(255,255,255,1);
    font-size: 50px;
}

#box4:hover #caption4{
    opacity:1;
}

/*Box 4 END*/

/*Box 5*/
#box5{
	background-image: url('../images/spikeapp.jpg');
	background-repeat: no-repeat;
	background-color:black;
	background-position: center center;
	background-size:cover;
	height:300px;
	padding-left: 0px;
  	padding-right:0px;
}

#overlay5{  
	background-image: url('../images/black.jpg');
	height:300px;
	padding:0px;
  	opacity:0;
  	-webkit-transition: opacity .25s ease;
  	-moz-transition: opacity .25s ease;
  	padding-top:75px;
  	text-align: center;
  	overflow: hidden;
}

#box5:hover #overlay5{
    opacity:.7;
    cursor: pointer;
}

#caption5{  
    font-weight:900;
    color:rgba(255,255,255,1);
    font-size:50px;
}

#box5:hover #caption5{
    opacity:1;
}
/*Box 5 END*/

/*Box 6*/
#box6{
	background-image: url('../images/imconcept2.jpg');
	background-repeat: no-repeat;
	background-color:black;
	background-position: center center;
	background-size:cover;
	height:300px;
	padding-left: 0px;
  	padding-right:0px;
}

#overlay6{  
	background-image: url('../images/black.jpg');
	height:300px;
	padding:0px;
  	opacity:0;
  	-webkit-transition: opacity .25s ease;
  	-moz-transition: opacity .25s ease;
  	padding-top:75px; /*Text position in div*/
  	text-align: center;
  	overflow: hidden;
}

#box6:hover #overlay6{
    opacity:.7;
    cursor: pointer;
}

#caption6{  
    font-weight:900;
    color:rgba(255,255,255,1);
    font-size:50px;
}

#box6:hover #caption6{
    opacity:1;
}
/*Box 6 END*/



/* Desktop*/
@media (min-width:769px) {
	#bgBox4, #bgBox5, #bgBox6{
		display:none; /*clears tablet and mobile hover div*/
	}
}

/* Mobile Devices*/
@media only screen and (max-width:768px) {

	#overlay1, #overlay2, #overlay3, #overlay4, #overlay5, #overlay6  {  
		display:none;
	}

	#bgBox1{
		height:600px;
		background-color:rgba(0,0,0,.3);
		position:relative;
		z-index: 90;
		top: 0px;

		color:white;
		text-align: center;
		font-size: 20pt;
		padding-top:250px;
		font-weight:900;
	}

	#bgBox2{
		height:100px;
		background-color:rgba(0,0,0,.7);
		position:relative;
		z-index: 90;
		top: 200px;

		color:white;
		text-align: center;
		font-size: 20pt;
		padding-top:20px;
		font-weight:900;
	}
	
	#bgBox3{
		height:100px;
		background-color:rgba(0,0,0,.7);
		position:relative;
		z-index: 90;
		top: 200px;

		color:white;
		text-align: center;
		font-size: 20pt;
		padding-top:20px;
		font-weight:900;
	}
	
	#bgBox4{
		height:100px;
		background-color:rgba(0,0,0,.7);
		position:relative;
		z-index: 90;
		top: 200px;

		color:white;
		text-align: center;
		font-size: 20pt;
		padding-top:20px;
		font-weight:900;
	}
	
	#bgBox5{
		height:100px;
		background-color:rgba(0,0,0,.7);
		position:relative;
		z-index: 90;
		top: 200px;

		color:white;
		text-align: center;
		font-size: 20pt;
		padding-top:20px;
		font-weight:900;
	}
	
	#bgBox6{
		height:100px;
		background-color:rgba(0,0,0,.7);
		position:relative;
		z-index: 90;
		top: 200px;

		color:white;
		text-align: center;
		font-size: 20pt;
		padding-top:20px;
		font-weight:900;
	}


	#caption1{  
	    font-weight:900;
	    color:rgba(255,255,255,1);
	    font-size:96px;
	}

	#subcaption1{
		font-size:35pt;
		color:rgba(255,255,255,1);
		font-weight:700;
	}

} /* Mobile Devices*/