/*CUSTOM CSS*/
.clearfix{
	clear:gold;
}

#wrap{
	width: 100%;
	font-family: Asap, sans-serif;
}


#logo{
	max-width: 300px;
	position:relative;
	left:40px;
	top: 20px;
	z-index: 100;
}


/*Home nav START*/
#navbarHome{
	position:relative;
	z-index: 100;
	top:100px;
	left:0px;

}

nav ul li{
	list-style: none;
	font-family: arial black;
	font-size: 100pt;
	line-height: 90pt;
	letter-spacing:-15pt;
	margin: 0;
}

nav a:hover{
	text-decoration:none;
	color:gold;
}

.colorSpan:hover{
	background-color:rgba(245, 195, 0, .3);
	display: inline-block;
	padding-right:30px;
	padding-left:20px;
	padding-bottom:0px;
	padding-top:-5px;
}

/*Home nav END*/

.homeHero{
	background-image: url('../images/ks_hero1.jpg');
	background-repeat: no-repeat;
	background-color:black;
	background-position: center center;
	background-size:cover;
	height: 700px;
	position: absolute;
	width:100%;
	z-index: -100;
	
	top: 0px;
	left: 0px;
}

#nav{
	height:640px;
	margin-top:0px;

}

#subscribe{
	height:500px;
	background-color: rgba(42, 42, 42, 1);
}

#headline1{
	font-size:90px;
	color:white;
	line-height:70pt;
}

.form{
	display:inline-block;
	float:left;
	position:relative;
	left:15%;
	top:100px;
}

.emailInput{
	height: 50px;
	width: 555px;
	border-radius:5px;
	margin-right:20px;
}

.btn-default{
	font-family:asap-bold, arial-bold;
	height: 50px;
	width:270px;
	letter-spacing:1pt;
	background-color:gold;
	border: none;
}

.btn-default:hover{
	background-color:goldenrod;
}


/*FOOTER START*/

footer{
	height:450px;
	background-color:black;
	color:white;
	font-family: asap, sans-serif;
	top:100px;
}

.facebook{
	margin-right:10px;
	margin-left:70px;
	display:inline-block;
}

#line{
	height:2px;
	background-color:white;

}

.footerContact{
	height:230px;
}

.footerLogo{
	margin-top: 30px;
}

/*.footer{
	text-align: center;
	position: relative;
	top:350px;
}

address{
	margin-left:50px;
	margin-top:50px;
	color: white;
	display:inline-block;
	float:left;
	clear:both;
}

address a:hover {
  color: white;
  text-decoration:none;
}

address a{
	color:gold;
}

.line{
	height:2px;
	background-color:white;
	width:95%;
	margin:0 auto;
	
	position:relative;
	z-index:100px;
}

#social{
	float:left;
	position:relative;
	top:200px;
	margin:-150px;
	left:90%;
	text-align:right;
}

.facebook{
	margin-right:10px;
	display:inline-block;
}

.footerLogo{
	position: relative;
	left:48%;
	display:inline-block;
}*/

/*FOOTER END*/




/*/////////ABOUT///////*/
.aboutWrap{
	width: 100%;
	font-family: Asap, sans-serif;

}

.aboutHero{
	background-image: url('../images/ks_hero2.jpg');
	background-repeat: no-repeat;
	background-color:black;
	background-position: center center;
	background-size:cover;
	height: 441px;
	position: relative;
	
	top: 70px;
	left: 0px;
}

.aboutSection1{
	height: 400px;
	border:solid 1px black;
}
