/*Global Settings*/

#wrap{
	font-family: Asap, sans-serif;
}

.clearfix{
	clear:both;
}

/*Global Settings END*/


/*NAV START*/
#ksLogo{
	position:relative;
	max-width: 126px;
}

.navbar-brand{
	height:70px;
	padding-left:15px;
	padding-top:0px;

}

.navbar-default{
	border:none;
	background-color:rgba(0,0,0,.8);

}

.navBar{  /*container-fluid*/
	height: 70px;
	padding-left: 30px;
    padding-right: 30px;
}


.navbar-default .navbar-nav>li>a{
	font-family: "Asap", sans-serif;
	color: white;
	height:70px;
	font-size:12pt;
	padding:25px;
	text-align:center;
}

.navbar-default .navbar-nav>li>a:hover{
	background-color: gold;
}

/*NAV END*/

/*FOOTER START*/

footer{
	background-color:black;
	color:white;
	font-family:Helvetica, sans-serif;
	text-align: center;

	position: relative;
	top: 0px;
	padding-top: 30px;
	font-size:10pt;
}

footer a{
	color:gold;
}

footer a:hover{
	color:gold;
}


.facebook{
	margin-right:15px;
	margin-left:5px;
	display:inline-block;
	padding-bottom:30px;
}

.instagram{
	padding-bottom:30px;
}

#line{
	height:2px;
	background-color:white;

}

.footerLogo{
	margin-top: 30px;
}

@media(max-width:768px){
    #headlineHome{
        font-size: 35pt;
        line-height: 40pt;
        text-align: center;	
    }

}


/*FOOTER END*/






/*/////////HOME START/////////*/


#homeHero{
	background-color:black;
	background-position: center center;
	background-size:cover;
	padding-left: 0px;
  	padding-right:0px;
  	width:100%;
 }

 .carousel-indicators{
 	    letter-spacing: 8pt;

 }

#inputHome{
	float: left;
	margin-top: 20px;
	padding-left:30px;
}

#btnHome{
	float: left;
	margin-top: 20px;
	background-color:gold;
	border:solid 0px;
	font-family: Helvetica, sans-serif;
	color: rgb(85, 85, 85);
	padding-left:38px;
	padding-right:38px;

}

#btnHome:hover{
	background-color:rgba(226,180,0,1);
}

.subscribe{
	background-color: rgba(42, 42, 42, 1);
	position: relative;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 125px;
	padding-bottom: 175px;
}

#headlineHome{ 
    font-size: 75pt;
    font-family: asap-bold;
    color:white;
}

@media(max-width:768px){
    #headlineHome{
        font-size: 35pt;
        line-height: 40pt;
        text-align: center;	
    }

    .subscribe{
		background-color: rgba(42, 42, 42, 1);
		position: relative;
		padding-left: 70px;
		padding-right: 100px;
		padding-top: 70px;
		padding-bottom: 70px;
	}


}

/*/////////HOME END/////////*/






/*/////////ABOUT///////*/
.aboutWrap{
	width: 100%;
	font-family: Asap, sans-serif;

}

.aboutHero {
    background-image: url('../images/kshero4.jpg');
    background-repeat: no-repeat;
    background-color: black;
    background-position: center center;
    background-size: cover;
    height: 441px;
    position: relative;
    top: 50px;
    left: 0px;
}

.aboutSection { /*NO HEIGHT WILL ALLOW SECTION TO BE FULLY RESPONSIVE*/
    position: relative;
    top: 50px;
    background-color: #eee;
    padding:50px;
}

.aboutBlock{ 
    font-size: 22pt;
    font-family: asap-bold;
}

@media(max-width:768px){
    .aboutBlock{
        font-size: 16pt;
        line-height: 25pt; 
    }
}

/*//////////ABOUT END//////////*/








/*//////////STORE START////////////*/
.storeSection {
    position: relative;
    top: 50px;
    background-color: #eee;
    padding:50px;
}

.thumb{
  max-width: 300px;
  margin: 0 auto;
  display: block;
}

.shirtDesc section{
  text-align: center;
}

@media (max-width: 767px) {
	.shirtDesc{
		position:relative;
		padding-top:125px;
}

/*//////////STORE END////////////*/









/*//////////CONTACT US START//////////*/


.main{
	position: relative;
    top: 50px;
    padding:50px;
    background-color: #eee;
}

.form-main{
	margin:50px;
	display:block;
}

#form-div {
	background-color:rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 380px;
	float: left;
	left: 50%;
	position: absolute;
  	margin-top:30px;
	margin-left: -260px;
  	-moz-border-radius: 7px;
  	-webkit-border-radius: 7px;
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  	font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  	border: 3px solid rgba(0,0,0,0);
}


.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

#button-blue{
	float:left;
	width: 100%;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  	margin-top:-4px;
  	font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
	
.submit:hover {
	color: #3498db;
}


@media (max-width: 767px) {
	.main{
		padding-top: 100px;
		position: relative;
    	top: 175px;
    	padding:50px;
		
	}
}

/*//////////CONTACT US END//////////*/