.button{
	font-weight: bold;
	color:$color-white;
	background-color:hidden;
	display:block;
	text-transform:uppercase;
	height:40px;
	width: 200px;
	border:solid 3px $color-white;
	text-align:center;
	padding-top:8px;
	// margin: 40px;
	// clear:both;
}

.button:hover{
	text-decoration:none;
	background-color:$color-white;
	color:$color-darkgray;
}