@import 'colors';
@import 'animations';
@import 'nav';
@import 'buttons';

/* Site Wrapper - Everything that isn't navigation */
.site-wrap {
  min-height: 100%;
  min-width: 100%;
  background-color: white; /* Needs a background or else the nav will show through */
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  padding:0;
}

.clearfix{
  clear:both;
}

body{
  font-family: Helvetica, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; 
  text-rendering: optimizelegibility;
  
  /* Without this, the body has excess horizontal scroll when the menu is open */
  overflow-x: hidden;
}

a:hover, a:visited, a:link, a:active{
  text-decoration: none;
}

.noColumnPadding{
  padding:0;
}


/*Box 1*/
#box1{
	background-image: url('../images/jp-jump-bw.jpg');
	background-repeat: no-repeat;
	background-color:black;
	background-position: center center;
	background-size:cover;
	height:600px;
	padding-left: 0px;
  padding-right:0px;
}

#overlay1{  
	background-image: url('../images/jp-jump.jpg');
  background-repeat: no-repeat;
  background-color:black;
  background-position: center center;
  background-size:cover;
	height:600px;
	padding:0px;
	opacity:0;
	-webkit-transition: opacity .25s ease;
	-moz-transition: opacity .25s ease;
	padding-top:175px;
	text-align: center;
}

#header1{  
    font-weight:900;
    color:$color-white;
    font-size:60pt;
}

#subheader1{
	font-size:30pt;
	color:$color-white;
	font-weight:700;
}

#box1:hover #overlay1{
    opacity:1;
}

/*Box 1 END*/

/*Box 2*/
#box2{
  background-image: url('../images/100days-butts-bw.jpg');
  background-repeat: no-repeat;
  background-color:black;
  background-position: center center;
  background-size:cover;
  height:300px;
  padding-left: 0px;
  padding-right:0px;
}

#overlay2{  
  background-image: url('../images/100days-butts.jpg');
  background-repeat: no-repeat;
  background-color:black;
  background-position: center center;
  background-size:cover;
  height:300px;
  padding:0px;
  opacity:0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  padding-top:75px;
  text-align: center;
  overflow: hidden;
}

#box2:hover #overlay2 {
    opacity:1;
    cursor: pointer;
}

#caption2{  
    font-weight:900;
    color:$color-white;
    font-size:50px;
}

#box2:hover #caption2{
    opacity:1;
}
/*Box 2 END*/

/*Box 3*/
#box3{
  background-image: url('../images/spikeapp-bw.jpg');
  background-repeat: no-repeat;
  background-color:black;
  background-position: center center;
  background-size:cover;
  height:300px;
  padding-left: 0px;
  padding-right:0px;
}

#overlay3{  
  background-image: url('../images/spikeapp.jpg');
  background-repeat: no-repeat;
  background-color:black;
  background-position: center center;
  background-size:cover;
  height:300px;
  padding:0px;
  opacity:0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  padding-top:75px;
  text-align: center;
  overflow: hidden;
}

#box3:hover #overlay3 {
    opacity:1;
    cursor: pointer;
}

#caption3{  
    font-weight:900;
    color:$color-white;
    font-size:50px;
}

#box3:hover #caption3{
    opacity:1;
}

/*Box 3 END*/


/*Box 4*/
#box4{
  background-image: url('../images/spikeapp-bw.jpg');
  background-repeat: no-repeat;
  background-color:black;
  background-position: center center;
  background-size:cover;
  height:300px;
  padding-left: 0px;
  padding-right:0px;
}

#overlay4{  
  background-image: url('../images/spikeapp.jpg');
  background-repeat: no-repeat;
  background-color:black;
  background-position: center center;
  background-size:cover;
  height:300px;
  padding:0px;
  opacity:0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  padding-top:75px;
  text-align: center;
  overflow: hidden;
}

#box4:hover #overlay3 {
    opacity:1;
    cursor: pointer;
}

#caption4{  
    font-weight:900;
    color:$color-white;
    font-size:50px;
}

#box4:hover #caption3{
    opacity:1;
}

/*Box 4 END*/

/*Box 5*/
#box5{
  background-image: url('../images/tollbooth-bw.jpg');
  background-repeat: no-repeat;
  background-color:black;
  background-position: center center;
  background-size:cover;
  height:300px;
  padding-left: 0px;
  padding-right:0px;
}

#overlay5{  
  background-image: url('../images/tollbooth.jpg');
  background-repeat: no-repeat;
  background-color:black;
  background-position: center center;
  background-size:cover;
  height:300px;
  padding:0px;
  opacity:0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  padding-top:75px;
  text-align: center;
  overflow: hidden;
}

#box5:hover #overlay5 {
    opacity:1;
    cursor: pointer;
}

#caption5{  
    font-weight:900;
    color:$color-white;
    font-size:50px;
}

#box5:hover #caption3{
    opacity:1;
}
/*Box 5 END*/

/*Box 6*/
/*#box6{
	background-image: url('../images/imconcept2.jpg');
	background-repeat: no-repeat;
	background-color:black;
	background-position: center center;
	background-size:cover;
	height:300px;
	padding-left: 0px;
  padding-right:0px;
}

#overlay6{  
	background-image: url('../images/black.jpg');
	height:300px;
	padding:0px;
	opacity:0;
	-webkit-transition: opacity .25s ease;
	-moz-transition: opacity .25s ease;
	padding-top:75px;
	text-align: center;
	overflow: hidden;
}

#box6:hover #overlay6{
  opacity:.7;
  cursor: pointer;
}

#caption6{  
  font-weight:900;
  color:$color-white;
  font-size:50px;
}

#box6:hover #caption6{
    opacity:1;
}*/
/*Box 6 END*/



/*Form Start*/
.contact{
  font-size:10pt;
  background-color:$color-red;
  height:300px;
  padding:25px 70px;
  color:$color-white;
  text-decoration: none;
}

.logoContact{
  width:50px;
  position:relative;
  margin:0 auto;
  display:block;
}

label[for="name"], [for="email"], [for="message"] {
  color:white;
}

.form-control{
  border-radius:0px;
}

/* Portfolio */
.portfolioWrap{
  background-color:white;
}


/*100 Days*/
.daysPage{
  padding:50px 100px;
  margin:0 auto;
  min-height: 100%;
  overflow:scroll;
  background-color:rgb(235,235,235);
}

#instafeed{
  position:relative;
  width:100%;
}

.daysHeader{
  font-size: 60px;
  font-weight: 900;
  background-color:rgb(235,235,235);
  padding-left:100px;
  position:relative;
}

#load-more{
  position:relative;
  margin:0 auto;
}



/* Desktop*/
@media (min-width:769px) {
  #bgBox4, #bgBox5, #bgBox6{
    display:none; /*clears tablet and mobile hover div*/
  }
}

/* Mobile Devices*/
@media only screen and (max-width:768px) {


  #overlay1, #overlay2, #overlay3, #overlay4, #overlay5, #overlay6  {  
    display:none;
  }

  p.main{
    font-size:22pt;
    font-weight:900;
    color:$color-red;
    text-align:center;
    position:relative;
    top:210px;

  }

  // #bgBox1{
  //   height:600px;
  //   background-color:rgba(0,0,0,.3);
  //   position:relative;
  //   z-index: 90;
  //   top: 0px;
  //   color:$color-white;
  //   text-align: center;
  //   font-size: 20pt;
  //   // padding-top:250px;
  //   font-weight:900;
  //   clear:both;
  // }

  .mobileTitle{
    color:$color-white;
    text-align: center;
    font-size: 20pt;
    padding-top:20px;
    font-weight:900;
    position:relative;
    top:100px;

  }

  #box2{
    // height:100px;
    // background-color:rgba(0,0,0,.7);
    // position:relative;
    // z-index: 90;
    // top: 200px;

    // color:$color-white;
    // text-align: center;
    // font-size: 20pt;
    // padding-top:20px;
    // font-weight:900;

    background-image: url('../images/100days-butts.jpg');
    background-repeat: no-repeat;
    background-color:black;
    background-position: center center;
    background-size:cover;
    height:300px;
    padding-left: 0px;
    padding-right:0px;
  }
  
  #box3{
    background-image: url('../images/spikeapp.jpg');
    background-repeat: no-repeat;
    background-color:black;
    background-position: center center;
    background-size:cover;
    height:300px;
    padding-left: 0px;
    padding-right:0px;
  }
  
  #box4{
    background-image: url('');
    background-repeat: no-repeat;
    background-color:black;
    background-position: center center;
    background-size:cover;
    height:300px;
    padding-left: 0px;
    padding-right:0px;
  }
  
  #box5{
    background-image: url('../images/tollbooth.jpg');
    background-repeat: no-repeat;
    background-color:black;
    background-position: center center;
    background-size:cover;
    height:300px;
    padding-left: 0px;
    padding-right:0px;
  }
  
  // #bgBox6{
  //   height:100px;
  //   background-color:rgba(0,0,0,.7);
  //   position:relative;
  //   z-index: 90;
  //   top: 200px;

  //   color:$color-white;
  //   text-align: center;
  //   font-size: 20pt;
  //   padding-top:20px;
  //   font-weight:900;
  // }


  #caption1{  
      font-weight:900;
      color:$color-white;
      font-size:96px;
  }

  #subcaption1{
    font-size:35pt;
    color:$color-white;
    font-weight:700;
  }

  .daysHeader{
    padding-top:10px;
    font-size: 20pt;
  }


} /* Mobile Devices*/